SECURITY_JWT_SECRET=substitua-por-um-segredo-local-com-no-minimo-32-caracteres
EXTERNAL_WEBHOOK_SECRET=substitua-por-um-segredo-local-para-webhooks
APP_ENVIRONMENT=local
JAVA_OPTS=-XX:+UseG1GC -XX:MaxRAMPercentage=75.0
